<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783929092246-aa34qbv1ogimr2ctfufsr2ueo0t4arvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783929092246-aa34qbv1ogimr2ctfufsr2ueo0t4arvv</string>
	<key>API_KEY</key>
	<string>AIzaSyAX2SLOWHyNgwU0ku1AmM6p3oABi6JU5kY</string>
	<key>GCM_SENDER_ID</key>
	<string>783929092246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mdeshina.Codenames</string>
	<key>PROJECT_ID</key>
	<string>codenames-1f851</string>
	<key>STORAGE_BUCKET</key>
	<string>codenames-1f851.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783929092246:ios:2bbbc07837fd548806fab7</string>
	<key>DATABASE_URL</key>
	<string>https://codenames-1f851.firebaseio.com</string>
</dict>
</plist>